* {
    padding: 0;
    margin: 0;
}

.parentDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.div1, .div2, .div3 {
    width: 150px;
    border: 1px solid #f00;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom:20px
}

.div1 {
    height: 120px;
}

.div2 {
    height: 100px;
}

.div3 {
    height: 40px;
}

.div4 {
    width: 150px;
    height: 200px;
    border: 1px solid #0f0;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom:20px
}

@media all and (max-width: 640px) {
    .div4 {
        order: -1;
    }
    .parentDiv {
        flex-wrap: wrap;
        align-items: flex-start;
    }
}