* {
    padding: 0;
    margin: 0;
}

thead {
    background: #000;
    color: #fff;
    text-align: left;
}

.tbody tr:nth-child(-n+3) {
    color: red;
}

.tbody tr:nth-child(even) {
    background: #ccc;
}

section input {
    margin: 20px;
    width: 100px;
    height: 20px;
    transition: 0.5s width;
}

section input:focus{
    width: 200px;
}

#div1:target, #div2:target, #div3:target {
    animation: slide 1s;
    z-index: 4;
}

#div1, #div2, #div3 {
    position: absolute;
    width: 300px;
    height: 120px;
}

#div1 {
    z-index: 3;
    background: red;
}

#div2 {
    z-index: 2;
    background: green;
}

#div3 {
    z-index: 1;
    background: blue;
}

@keyframes slide {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

.divSelecter a {
    z-index: 5;
    color: #000;
    background-color: rgba(255, 255, 255, .5);
    position: relative;
    text-align: center;
    line-height: 30px;
    top: 90px;
    right: -200px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    display: inline-block;
}