body{
	width: 1280px;
	background-color: #ffffff;
	margin: 0 atuo;
}

.head{
	height: 60px;
	width: 1280px;
}
.logo{
	width: 104;
	float: left;
}
.logo img{
	width: 32px;
	height: 32px;
	margin: 13px 14px 15px 60px;
}
.word{
	width: 60px;
	font-size: 16px; 
	float: right;
	color:#393a3a;
	margin-top: 20px;
}

.logo-bar{
	width: 534px;
	height: 60px;
	font-size: 14px;
	float: left;
	margin-left:520px; 
	
}
.logo-bar li{
	color:#a3a4a9;
    list-style-type: none;
	display: inline-block;
	padding-right: 30px;
	line-height: 30px;
	cursor: pointer;
}

.logo-bar a:link{
	color:#a3a4a9;
	text-decoration: none;
}
.logo-bar a:hover{
    color: #e7504d;
    padding-bottom:22px;
    border-bottom:2px solid #e7504d ;
}
.newlife{
	width: 1280px;
	height: 690px;
	background-image: url(../images/pic01.jpg);
	background-repeat: no-repeat;
	background-size: 1280px 690px;
}
.newlife-word{
	width: 456px;
	height: 113px;
	color: #ffffff;
	padding: 150px 0px 0px 116px;
	}
.newlife-word h1{
	font-size: 48px;
}
.newlife-word p{ 
	font-size: 23px;
	line-height: 15px;
}

.test{
	width: 330px;
	height:63px;
	font-size: 30px;
	color: #ffffff;
	line-height: 70px;
	background-color: #e7504d; 
	margin:120px 0px 200px 120px; 
}
.test:hover{
	background-color: red;
}
.four-tip{
	height:250px;
}
.tip1 {
	width: 315px;
	color: #828383;
	line-height: 20px;
	display: inline-block;
	float: left;
}
.tip1 img{
	margin: 47px 140px 48px 146px;
}
.desc{
	width: 315px;
	height: 50px;
	border-right:2px solid #aaaaaa;
}
.desc:hover{
	color: #e7504d;
}
.des1{
	width: 315px;
	height: 50px;
}
.des1:hover{
	color: #e7504d;
}

.unknow{
	height: 360px;
	background-color: #ededed;
}
.unknow img{
	margin: 91px 595px 0px 595px;
}
.know1{
	font-size: 48px;
	color: #a1a1a1;
	margin: 20px 0px 0px 250px;
}


.nw-section-3{
	height: 340px;
	background-image: url("../images/pic02.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}
.nw-section-3 .mask{
		display: inline-block;
		width: 100%;
		height: 100%;
		background-color: rgba(172, 52, 51, 0.2);
		text-align: center;
		color: #fff;
}
.nw-section-3 .mask h1{
		font-size: 24px; 
		line-height: 1.6em;
}
.nw-section-3 .mask p{font-size: 12px;}
.nw-section-3 .mask .input-group{
	    margin-top: 35px;
		position: relative;
}
.nw-section-3 .mask .input-group input{
		height: 35px;
		width: 235px;
		border: none;
		margin-right: 30px;
		outline: none;
}
.nw-section-3 .mask .input-group input[type=button]{
		color: #fff;
		text-align: center;
		font-size: 14px;
		background-color: #E74F4D;
		cursor: pointer;
}
.nw-section-3 .mask .input-group input[type=text]{
		text-indent: 5px;
		font-size: 14px;
		color: #999;
		background: url("../images/input.png") no-repeat center center transparent;
}
.nw-section-3 .mask .input-group ul{
		position: absolute;
		right: 50%;
		margin-right: 32px;
		margin-top: -3px;
		height: 156px;
		overflow-y: hidden;
}
.nw-section-3 .mask .input-group #province{
		border: 1px #E74F4D solid;
		border-bottom: none;
}
.nw-section-3 .mask .input-group ul li{
		text-align: left;
		width: 235px;
		height: 26px;
		line-height: 26px;
		list-style-type: none;
		background-color: #e3e3e4;
		color: #666;
		border-left: 1px #E74F4D solid;
		border-right: 1px #E74F4D solid;
		cursor: pointer;
}
.nw-section-3 .mask .input-group ul li.active,
.nw-section-3 .mask .input-group ul li:hover{
		background-color: #E74F4D;
		color: #fff;
}
.nw-section-3 .mask .input-group ul li span{
		margin: 0 0.6em;
		color: #e3e3e4;
}

.activity{
	height: 606px;
}
.pic1{
	height: 440px;
	width: 221px;
	margin: 0px 0px 117px 140px;
	padding-top: 100px;
	float: left;
}
.introduce1{
	width: 221px;
	height: 50px;
	line-height: 5px;
	text-align: center;
	color: #898a8a;
}
.introduce1 h4{
	color: #000000;
}
.introduce1 p{
	font-size: 12px;
}
.pic2{
	height: 440px;
	width: 221px;
	float: left;
	padding-top: 100px;
	margin: 0px 37px 117px 47px;
}
.pic2 img{
    padding-top: 0px;
}
.introduce2{
	width: 221px;
	height: 50px;
	line-height: 5px;
	text-align: center;
	color: #898a8a;
}
.introduce2 h2{
	letter-spacing: 30px;
	color: #000000;
}
.introduce2 p{
	font-size: 12px;
}
.pic3{
	height: 440px;
	width: 221px;
	float: left;
	padding-top: 100px;
	margin: 0px 0px 110px 10px;
}

.TIME{
	height: 567px;
	width: 1280px;
}
.TIME-left{
	height: 567px;
	width: 850px;
	float: left;
	margin-top: -50px;
	background-image: url(../images/pic07.jpg);
}

.TIME-left-text{
	width: 368px;
	height: 300px;
	color: #ffffff;
	text-align: center;
	margin: 130px 240px  0px 200px;
}
.top{
	width: 368px;
	height: 170px;
	line-height: 0px;
}
.p1{
	font-size: 60px;
	padding-top: 32px;
}
.p2{
	font-size: 140px;
	margin-top: 90px;
}
.bottom{
	width: 368px;
	height: 65px;
	padding-top: 30px;
}
.bottom h4{
	font-size: 25px;
	line-height: 0px;
}
.bottom1{
	margin-top: 20px;
	padding-top: 10px;
}
.TIME-right{
	height: 567px;
	width: 430px;
	float: right;
	margin-top: -50px;
	display:inline-block;
}
.TIME-right h2{
	margin-top: 170px;
	text-align: center;
}
.TIME-right p{
	color: #b3b3b4;
	font-size: 12px;
	line-height: 30px;
	margin-left: 72px;
	margin-right: 70px;
}
.TIME-right span{
	color: #e74f4d;
}
.TIME-right button{
	width: 107px;
	height: 33px;
	color: #e74f4d;
	background-color: #ffffff;
	border: 1px solid;
	border-color: #e74f4d;
	margin: 20px 160px 0px 162px;
}
.slideDot{
  width: 107px;
  height: 33px;
  margin: 30px 140px 0px 182px;
}

.Three-part{
	width: 1280px;
	height: 520px;
}
.part1{
	width: 425px;
	height: 520px;
	font-size: 23px;
	text-align: center;
	float: left;
	background-color: #e74f4d;
}
.part1 p{
	color: #ffffff;
	line-height: 40px;
	margin-top: 170px;
}
.part1 hr{
	width: 40px;
	height: 1px;
}
.part1 input{
	width: 167px;
	height: 40px;
	font-size: 23px;
	text-align: center;
	color:#ffffff;
	border: 1px solid;
	border-color:#ffffff;
	margin-top: 20px;
	background-color: #e74f4d;
}

.part2{
	width: 425px;
	height: 520px;
	font-size: 23px;
	text-align: center;
	float: left;
	
}
.part2 p{
	line-height: 40px;
	margin-top: 170px;
}
.part2 hr{
	width: 40px;
	height: 1px;
}
.part2 input{
	width: 167px;
	height: 40px;
	font-size: 23px;
	text-align: center;
	color:#e74f4d;
	border: 1px solid;
	border-color:#e74f4d;
	margin-top: 20px;
	background-color: #ffffff;
}

.part3 img{
	float: right;
	margin-top:-520px;
}

.volunteer{
	width: 1280px;
	height: 750px;
	float: left;
	display: inline-block;
	background-color: #ffffff;
}
.volunteer-top{
	width: 1280px;
	height: 250px;
	float: left;
}
.volunteer-top p{
	font-size: 12px;
	color:#bcbdbd;
	line-height: 20px;
}
.volunteer-left{
	width: 423px;
	height:450px;
	float: left;
}
.volunteer-left h3{
	padding-left: 140px;
}

.volunteer-left p{
	font-size: 12px;
	color: #dfdfdf;
	padding-left: 140px;
}
.volunteer-left span{
	float: right;
	color: #dfdfdf;
}

.volunteer-right{
	width: 780px;
	height:450px;
	float: right;
	display: inline-block;
}
.name{
	width: 313px;
	height: 42px;
	float: left;
	margin-right: 15px;
	background-color: #ececee;
}
.div1{
	font-size: 14px;
	margin-left: 20px;
	margin-top: 10px;

}
.age{
	width: 313px;
	height: 42px;
	display: inline-block;
	background-color: #ececee;
}
.method{
	width: 313px;
	height: 42px;
	float: left;
	margin-right: 15px;
	margin-top: 20px;
	background-color: #ececee;
}
.address{
	width: 313px;
	height: 42px;
	margin-top: 20px;
	display: inline-block;
	background-color: #ececee;
}
.descript{
    width: 640px;
	height: 130px;
	float: left;
	margin-right: 15px;
	margin-top: 20px;
	background-color: #ececee;	
}
 button{
	 width: 640px;
	 height: 40px;
	 margin-top: 20px;
	 background-color: #ececee;
}
.volunteer-right input{
   border: none;
   background-color: #ececee;
}

.footer{
	height: 350px;
	background-color: #32353e;
	padding-top: 800px;
}
.contact h3{
	font-size: 21px;
	text-align: center;
	color: #ffffff;
}
.contact p{
	font-size: 12px;
	text-align: center;
	font-family: "微软雅黑";
	color:#ffffff;
	margin-bottom: 30px;

}
.contact div{
	width: 510px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.contact div input{
	height: 40px;
}
.contact .sub{
	width: 80px;
	height: 42px;
	border: none;
	background-color: #686166;
	color: #ffffff;
	font-size: 15px;
	font-family: "微软雅黑";
}
.contact .e-m{
	width: 410px;
	border: none;
	float: left;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
}

.contact ul{
	text-align: center;
}
.contact ul li{
	display: inline-block;
	margin: 0 10px;
}
.footer-bottom{
	height: 57px;
	background-color: #2f3038;
	width: 100%;
	margin-top: 90px;
}
.fb-left{
	float: left;
	margin-left: 100px;
	color: #ffffff;
	font-family: "微软雅黑";
	padding-top: 30px;
	font-size: 12px;
}
.back-to-top{
	float: right;
	margin-right: 50px;
	color: #ffffff;
	font-family: "微软雅黑";
	padding-top: 30px;
	font-size: 12px;
}