#rectangle {
    position: absolute;
    background-color: #ccc;
    width: 400px;
    height: 200px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.quarter {
    position: absolute;
    background-color: #fc0;
    width: 50px;
    height: 50px;
}

#leftQuarter {
    border-bottom-right-radius: 50px;
}

#rightQuarter {
    bottom: 0;
    right: 0;
    border-top-left-radius: 50px;
}