body{
	margin:0px;
	padding:0px;}
#div1{
	width:1200px;
	height:1400px;
	background-color:#CCC;
	margin:auto;}
#header{
	width:1200px;
	height:70px;
	background-color:#06F;
	font-family:"微软雅黑";
	font-size:14px;
	color:#FFF;
}
#search{
	width:300px;
	height:25px;
	margin-left:700px;
	border-radius:15px;
	margin-top:15px;
	}	
#left{
	width:300px;
	height:1330px;
	background-color:#2a2e3d;
	color:#FFF;
	font-size:18px;
	float:left;
	font-family:"微软雅黑";
	color:#6e8095;}
	#left table{
		font-size:14px;
		text-align:center;}
#left table tr td ul li{
	list-style:none;
	list-style-type:none;}
#right-header{
	width:900px;
	height:40px;
	background-color:#FFF;
	float:right;
	font-family:"微软雅黑";}	
.text-header{
	color:#999;
	margin-left:20px;
	font-family:Verdana, Geneva, sans-serif;}
#right-bottom{
	width:900px;
	height:1200px;
	float:right;
	background-color: #ededec;
	}	
#div01{
	width:800px;
	height:70px;
	background-color:#FFF;
	margin-left:50px;
	margin-top:30px;
	border:1px #999 solid;}	
#div01 div{
		float:left;
		margin-left:30px;
		margin-top:20px;
		color:#CCC}	
#div01 div input{
	border-radius:5px;
	color:#FFF;}	
#div02{
	width:800px;
	height:70px;	
	margin-left:50px;
	margin-top:30px;
	background-color: #ededec;
	
	}
#div02 ul li{
	width:100px;
	height:70px;
	float:left;
	background-color:#FFF;
	list-style:none;
	margin-left:10px;
	text-align:center;
	line-height:30px;
	font-family:"微软雅黑";
	}	
#img01{
	float:left;
	margin-left:0px;
	}
#img02{
	margin-left:10px;
	float:left;}
#img03{
	margin-top:5px;
	float:left;}
#text{
	margin-left:50px;
	margin-top:10px;
	font-family:"微软雅黑";
	}
#div03{
	width:800px;
	height:100px;	
	margin-left:50px;
	margin-top:30px;
	background-color: #ededec;}		
#div03 div{
	width:180px;
	height:100px;
	background-color:#FFF;
	float:left;
	}	
.div03-01{
	margin-right:25px;
	float:left;
	line-height:30px;
	font-family:"微软雅黑";}	
.div03-02{
	margin-right:25px;}
.div03-04{
	margin-left:30px;}	
#table-01{
	width:70px;
	height:50px;
	background-color:#0C9;
	margin-left:90px;
	margin-top:30px;
	}						
#table-02{
	width:70px;
	height:50px;
	background-color:#09C;
	margin-left:90px;
	margin-top:30px;
	}
#table-03{
	width:70px;
	height:50px;
	background-color:#F00;
	margin-left:90px;
	margin-top:30px;
	}			
#table-04{
	width:70px;
	height:50px;
	background-color:#FF0;
	margin-left:90px;
	margin-top:30px;
	}	
#things{
	width:500px;
	height:350px;
	margin-left:50px;
	margin-top:30px;
	background-color:#FFF;
	border-radius:5px;
	border:1px #999 solid;
	float:left;
	font-family:"微软雅黑";}
#things-top{
	width:500px;
	height:30px;
	background-color:#CCC;
	}	
#search2{
	width:350px;
	height:30px;
	background-color:#FFF;
	margin-left:10px;
	border-radius:5px;}	
#search2 ul li{
	width:70px;
	height:30px;
	background-color:#CCC;
	margin-right:5px;
	border:1px #CCC solid;
	float:left;
	list-style-type:none;
    border-radius:2px;
	text-align:center;
	}		
#things-table1{
	position:absolute;
	width:480px;
	height:220px;
	background-color:#FFF;
	margin-left:10px;
	border-radius:4px;}	
#things-table2{
	position:absolute;
	width:480px;
	height:220px;
	background-color:#FFF;
	margin-left:10px;
	border-radius:4px;}
#things-table3{
	position:absolute;
	width:480px;
	height:220px;
	background-color:#FFF;
	margin-left:10px;
	border-radius:4px;}
#things-table4{
	position:absolute;
	width:480px;
	height:220px;
	background-color:#FFF;
	margin-left:10px;
	border-radius:4px;}	
#table001 tr td{
	width:100px;
	height:50px;
	border:1px #999 solid;}	
#table002 tr td{
	width:100px;
	height:50px;
	border:1px #999 solid;}
#table003 tr td{
	width:100px;
	height:50px;
	border:1px #999 solid;}
#table004 tr td{
	width:100px;
	height:50px;
	border:1px #999 solid;}		
#things-right{
	width:290px;
	height:350px;
	background-color:#FFF;
	float:left;
	margin-top:30px;
	border-radius:4px;
	margin-left:10px;
	border:1px #999 solid;
	font-family:"微软雅黑";}	
#things-right-top{
	width:290px;
	height:30px;
	background-color:#CCC;}	
#things-right span{
	margin-left:30px;}	
#right-span01{
	margin-top:30px;
	margin-left:50px;
	color:#CCC;}
#right-span02{
	color:#CCC;}		
#things-right table{
	width:250px;
	height:50px;
	border-top:1px #999 solid;
	border-bottom:1px #999 solid;
	margin-left:40px;}	
#right-td01{
	border-right:1px #999 solid;
	height:50px;}
#things-right-bottom{
	width:290px;
	height:50px;
	background-color:#FFF;
	margin-top:80px;
	border-top:1px #CCC solid;}	
#right-span03{
	font-size:10px;
	color:#CCC;}
#search3{
	width:50px;
	height:20px;
	background-color:#06C;
	border-radius:4px;
	float:right;
	margin-top:20px;
	margin-right:20px;
	color:#FFF;
	text-align:center;}		
#right-bottom-left{
	width:450px;
	height:400px;
	background-color:#FFF;
	float:left;
	margin-top:10px;
	margin-left:50px;
	border-radius:5px;
	border:1px #999 solid;}	
#right-bottom-left-top{
	width:450px;
	height:30px;
	background-color:#CCC;}
	#right-bottom-left-top span{
		margin-left:10px;
		color:#999;
		font-family:"微软雅黑";
		}	
#date{
	width:400px;
	height:30px;
	margin-top:10px;
	background-color:#FFF;
	margin-left:20px;
	font-family:"微软雅黑";}
#date select{
	margin-right:36px;}	
#calender{
	width:400px;
	height:300px;
	background-color:#FFF;
	margin-left:20px;
	margin-top:5px;
	font-family:"微软雅黑";}
#calender-table1{
	width:400px;
	height:30px;	
	border:1px #CCC solid;
	border-top:2px #0CC solid;}
#calender-table2{
	width:400px;
	height:270px;
	border:1px #CCC solid; }
#calender-table2 tr td{
	text-align:center;}	
#calender-table2 tr td span{
	color:#F00;}
#right-bottom-right{
	width:330px;
	height:400px;
	background-color:#FFF;
	margin-left:20px;
	margin-top:10px;
	float:left;
	border-radius:4px;
	border:1px #666 solid;}	
#right-bottom-right-top{
	width:330px;
	height:30px;
	background-color:#CCC;
	font-family:"微软雅黑";
	color:#999;
	font-size:14px;}	
#right-bottom-bottom{
	width:300px;
	height:350px;
	border-right:#999 1px solid;
	border-bottom:#999 1px solid;
	margin-left:15px;
	margin-top:10px;
	}
#right-bottom-bottom tr td{
	border-left:#999 1px solid;
	border-top:#999 1px solid;
	padding-left:10px;}	
#td1{
	width:160px;}	
#right-bottom-bottom div{
	width:120px;
	height:5px;
	background-color:#CCC;
	margin-top:10px;
	float:right;}
#hr1{
	width:100px;
	height:5px;
	background-color:#F00;
	float:left;
	margin-top:0px;}
	#hr2{
	width:90px;
	height:5px;
	background-color:#F60;
	float:left;
	margin-top:0px;}
	#hr3{
	width:80px;
	height:5px;
	background-color:#F63;
	float:left;
	margin-top:0px;}
	#hr4{
	width:70px;
	height:5px;
	background-color:#09F;
	float:left;
	margin-top:0px;}
	#hr5{
	width:60px;
	height:5px;
	background-color:#09F;
	float:left;
	margin-top:0px;}
	#hr6{
	width:50px;
	height:5px;
	background-color:#09F;
	float:left;
	margin-top:0px;}
	#hr7{
	width:40px;
	height:5px;
	background-color:#09F;
	float:left;
	margin-top:0px;}	
	#hr8{
	width:30px;
	height:5px;
	background-color:#09F;
	float:left;
	margin-top:0px;}	
	#hr9{
	width:20px;
	height:5px;
	background-color:#09F;
	float:left;
	margin-top:0px;}
	#hr10{
	width:10px;
	height:5px;
	background-color:#09F;
	float:left;
	margin-top:0px;}
    #09{
		border:#F60 1px solid;}
	#shoucang{
		border-right:1px #6e8095 solid;
		padding-left:50px;
		}	
#div02 span{
	color:#F60;
	font-size:24px;}/* CSS Document */

